*.exe
*.so
*.o
*.lib
*.pyc
*.tar.gz
jobs_*/
*_C.d
*_C_ACLiC_dict*
*.png
limits/datacard_*.txt
core.*
*.pdf
2016DataPlots_*
2017DataPlots_*
2018DataPlots_*
limits/jobsLimits*
BackgroundModels/
DataPlots_*
jobs*
VarPlots/
SkimmedFiles/*.root
BDTfill/
BDTgridSubmit/
BDToutput/
*.root
*.DS_Store
limits/localCombineRuns/
*.swp
Plots/
oldData/
CondorJobs/
inputFiles/
docker_stderror
limits/SelfBiasTest*
hourglassUnc/bin/*
limits/an-scripts/Plot2DLimitMap
limits/an-scripts/Plot2DSignificanceMap
limits/an-scripts/PlotSignificanceFromCondor
interpolation/2023Apr26/InterpolateSignals
interpolation/TestInterpolatorHist_2023Apr
limits/an-scripts/exe/*
scripts/Unroll2DplotsSubRange_dev_hourglassMCStats_lowStatsCuts_fullPlane
limits/an-scripts/LEE_addInfoToSignifTree
limits/an-scripts/Plot2DLimitMap
2023Dec20/bin/*
