[submodule "tempyaml/third-party/yaml-cpp"]
	path = tempyaml/third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "plotterListFiles"]
	path = plotterListFiles
	url = git@github.com:akgrummer/hh4b_plotterListFiles.git
